<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764750315271-3bid6c2bqjjs9ngo45hr0b3gcr7diahc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764750315271-3bid6c2bqjjs9ngo45hr0b3gcr7diahc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1yz8kDYL84pVkAPmhliEp0vjz1qaD56Q</string>
	<key>GCM_SENDER_ID</key>
	<string>764750315271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.landingPage</string>
	<key>PROJECT_ID</key>
	<string>enducloud</string>
	<key>STORAGE_BUCKET</key>
	<string>enducloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764750315271:ios:e186a8234011f4fa620fa2</string>
	<key>DATABASE_URL</key>
	<string>https://enducloud-default-rtdb.firebaseio.com</string>
</dict>
</plist>